 button[type="submit"]{
     background-color:darkred !important;
     color:white !important;
     border-color: darkred;
 }  
 button[type="submit"]:hover{
     background-color: white !important;
     color: darkred !important;
     border-color: darkred;
 }
 button[type="submit"]:focus{
     background-color: white !important;
     color: darkred !important;
     border-color: darkred;
 }
 
 a.add{
     background-color:darkred;
     color:white;
     border-color: darkred;
 }
 a.add:hover{
     background-color: white;
     color: darkred;
     border-color: darkred;
 }
 a.back{
     color:darkred;
 }
 #tondach{
     color:white;
 }
 #index{
     padding-left: 1em;
 }
 button[type="button"]{
     background-color:darkred !important;
     color:white !important;
     border-color: darkred;
 }
 button[type="button"]:active{
     background-color: white !important;
     color: darkred !important;
     border-color: darkred !important;
 }
 button[type="button"]:focus{
     background-color: white !important;
     color: darkred !important;
     border-color: darkred !important;
 }
 .modal-footer{
     text-align: center !important;
 }
 button.btn.btn-primary{
     margin:2px;
 }
 div #cert{
     background:lightgrey;
     border-radius: 10px;
 }
 #certForm{
     margin-left: 10px;
 }
 .col-lg-12.margintop30.field{
     margin-bottom:10px;
 }
 #submitData{
     margin-top:20px;
 }
 .article-filters{
     margin-bottom: 10px;
 }
 .article-filters-block.col-lg-12{
     display:none;
 }
 #fileBut{
     background-color:darkred !important;
     color:white !important;
     border-color: darkred;
 }
 #fileBut.active{
    background-color: white !important;
     color: darkred !important;
     border-color: darkred !important;
}
div.article-filters{
    width:112px;
    height:40px;
    margin-bottom: 20px;
}
.file-icon {
    margin-right: 10px;
    width: 30px;
}
#update-status {
    margin-top: 15px;
    font-size: 17px;
}